@import '~bootstrap/scss/bootstrap';

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-family: 'Trirong', serif;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 20px;
}

.form-group {
  text-align: center;
}

.btn {
  margin-top: 5px;
}

.signout {
  text-align: center;
  margin-bottom: 15px;
}

.all-climbs {
  text-align: center;
  margin-bottom: 15px;
}

.user-feedback {
  text-align: center;
}
